@import url('https://fonts.googleapis.com/css?family=Caveat');
*
{
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

/* Pseudo elements for icons */
.btn:before,
.icon-heart:after,
.icon-star:after,
.icon-plus:after,
.icon-file:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}


html,body
{
	color: #fdfcfa;
	background:#27509e;
	font-family: icomoon;
}


#app
{
	max-width: 960px;
	margin: 200px auto;
	display: flex;
	flex-direction: column;
}

.quote
{
	display: block;
	width: 100%;
	height: 200px;
	padding: 20px 35px;
	font-family: 'Caveat', cursive;
	font-size: 30px;
	font-weight: 300;
	color: white;
	box-shadow: inset 0 0 1em #27509e, 0 0 1em rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	/* letter-spacing: 3px; */
}
.quote i {
	color: darkblue;
}
span 
{
	display: block;
	border-left: 4px solid rgba(0, 128, 0, 0.8);
	padding-left: 15px;	
}
.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 70px;
  }
 .fa-spin
 {
	 margin-right: 10px;
 }
.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
#random:hover i {
	
}
/* Pseudo elements for icons */
.btn:before,
.icon-heart:after,
.icon-star:after,
.icon-plus:after,
.icon-file:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}
/* Button 4 */
.btn-4 {
	border-radius: 50px;
	border: 3px solid #fff;
	color: #fff;
	overflow: hidden;
}

.btn-4:active {
	border-color: inherit;
	color: #b9c0bc;
}

.btn-4:before {
	position: absolute;
	height: 100%;
	font-size: 125%;
	line-height: 3.5;
	color: #fff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-4:active:before {
	color: #b9c0bc;
}
.icon-arrow-right:before {
	content: "\e00d";
}

.icon-arrow-left:before {
	content: "\e003";
}

/* Button 4cl */
.btn-4cl:before {
	left: 30%;
	opacity: 0;
	top: 0;
}

.btn-4cl:hover:before {
	left: 15%;
	opacity: 1;
}
/* Button 4cr */
.btn-4cr:before {
	left: 60%;
	opacity: 0;
	top: 0;
}

.btn-4cr:hover:before {
	left: 79%;
	opacity: 1;
}


@-webkit-keyframes spinnerRotate {
	from {
		-webkit-transform:rotate(0deg);
	}
	to {
		-webkit-transform:rotate(360deg);
	}
}




